/*---------------------------------------------------
    SCSS Elements 0.1
  ---------------------------------------------------
    A set of useful SCSS mixins
  ---------------------------------------------------*/
/*
.columns(@colwidth: 250px, @colcount: 0, @colgap: 50px, @columnRuleColor: #EEE, @columnRuleStyle: solid, @columnRuleWidth: 1px) {
  -moz-column-width: @colwidth;
  -moz-column-count: @colcount;
  -moz-column-gap: @colgap;
  -moz-column-rule-color: @columnRuleColor;
  -moz-column-rule-style: @columnRuleStyle;
  -moz-column-rule-width: @columnRuleWidth;
  -webkit-column-width: @colwidth;
  -webkit-column-count: @colcount;
  -webkit-column-gap: @colgap;
  -webkit-column-rule-color: @columnRuleColor;
  -webkit-column-rule-style: @columnRuleStyle;
  -webkit-column-rule-width: @columnRuleWidth;
  column-width: @colwidth;
  column-count: @colcount;
  column-gap: @colgap;
  column-rule-color: @columnRuleColor;
  column-rule-style: @columnRuleStyle;
  column-rule-width: @columnRuleWidth;
}

*/
.container {
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 767px) {
  .container,
  .outer-container,
  .container-md {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 768px) {
  .outer-container,
  .container,
  .container-md {
    width: 730px;
  }
}

@media (min-width: 992px) {
  .outer-container,
  .container {
    width: 940px;
  }
  .container-md {
    width: 750px;
  }
}

@media (min-width: 1150px) {
  .outer-container {
    width: 1100px;
  }
  .container {
    width: 1050px;
  }
  .container-md {
    width: 900px;
  }
}

@media (min-width: 1250px) {
  .container {
    width: 1170px;
  }
}

/*** reset ***********/
html, body, ul, ol, li, dl, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, a, img, label {
  margin: 0;
  padding: 0;
  border: 0;
}

header, section, footer, aside, nav, article {
  display: block;
}

ul {
  list-style: none;
}

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%;
}

body {
  font-size: 14px;
  font-size: 1.4rem;
  color: #000;
}

html, body {
  height: 100%;
}

*:focus {
  outline: none;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

@supports (display: grid) {
  .grid-container {
    display: grid;
    grid-template-areas: "top" "header" "nav" "main" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 40px min-content min-content auto 65px;
    min-height: 100%;
  }
}

.top {
  grid-area: top;
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

.main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

/*** standart classes *****/
p {
  line-height: 1.2;
}

a {
  color: #020000;
}

h1, .title {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.6rem;
}

*:focus {
  outline: none;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

@font-face {}.tdn {
  text-decoration: none;
}

.tdn:hover {
  text-decoration: underline;
}

.tdu {
  text-decoration: underline;
}

.tdu:hover {
  text-decoration: none;
}

.before, .bottomline:after, .assortment h1:after, .aside-content aside .subscribe:before {
  content: "";
  display: block;
  position: absolute;
}

.top {
  background-color: #f2f2f2;
  padding: 1rem 0;
}

.flexbox {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

.submit {
  cursor: pointer;
}

/* =header
---------------------------*/
header {
  padding: 1.5rem 0 2.5rem;
}

header .flexbox {
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}

header .logo_link {
  display: block;
}

header .logo .tel {
  text-decoration: none;
}

header .links-search {
  width: 36rem;
}

header .links-search .links a {
  margin-right: 1.8rem;
}

header .links-search .links a:last-child {
  margin-right: 0;
}

header .links-search .qsearch {
  margin-top: 3rem;
}

header .links-search .qsearch input {
  float: left;
  vertical-align: top;
  height: 3.8rem;
}

header .links-search .qsearch #search {
  background-color: #f2f2f2;
  border: none;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: calc(100% - 41px);
}

header .links-search .qsearch .submit {
  background-color: transparent;
  background-image: url(../images/sprite.png);
  background-repeat: no-repeat;
  background-position: 10px 4px;
  border: none;
  cursor: pointer;
  width: 41px;
}

header .right {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 16rem;
}

header .right a {
  display: block;
  text-decoration: none;
  height: 4rem;
  white-space: nowrap;
}

header .right #cart {
  display: block;
  height: 4rem;
  padding-left: 4.5rem;
}

header .right .link-feedback {
  color: #fff;
  background-color: #d00606;
  display: block;
  padding-left: 4.5rem;
  padding-top: 1.2rem;
}

/* =/header
---------------------------*/
/* =nav
---------------------------*/
nav ul {
  background-color: #f2f2f2;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}

nav ul a {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  height: 4rem;
  text-decoration: none;
}

nav ul > li {
  padding: 0 2.5rem;
  text-transform: uppercase;
}

nav ul li > ul {
  display: none;
}

/* =/nav
---------------------------*/
.owl-carousel .owl-controls {
  position: absolute;
  width: 100%;
  top: 115px;
}

.owl-carousel .owl-controls .owl-buttons .owl-prev,
.owl-carousel .owl-controls .owl-buttons .owl-next {
  background: url(../images/prevnext.png) no-repeat left top;
  width: 65px;
  height: 65px;
  position: absolute;
}

.owl-carousel .owl-controls .owl-buttons .owl-prev {
  left: -110px;
}

.owl-carousel .owl-controls .owl-buttons .owl-next {
  background-image: url(../images/sprite.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  right: -110px;
}

/* =main
---------------------------*/
/* =footer
---------------------------*/
footer {
  background-color: #000;
  color: #fff;
}

.bottomline, .assortment h1 {
  margin-bottom: 2rem;
  position: relative;
  padding-bottom: 15px;
}

.bottomline:after, .assortment h1:after {
  border-top: 2px solid;
  bottom: 0;
  width: 24px;
}

/* =assortment
---------------------------*/
.assortment {
  background: #f2f2f2;
  padding: 2rem 0 2.4rem;
}

.assortment .cats {
  margin-right: 2.5rem;
}

.assortment .cats .row a {
  display: inline-block;
  margin-left: 1.2rem;
}

.assortment .cats .row a:first-child {
  margin-left: .8rem;
}

.assortment .cats .row a:last-child {
  margin-right: 0;
}

.assortment .cats .more {
  margin-left: .8rem;
}

.assortment .text {
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
}

.assortment .more {
  display: inline-block;
  margin-top: 1.8rem;
}

/* =/assortment
---------------------------*/
/* =aside-content
---------------------------*/
.aside-content {
  padding-top: 2rem;
}

.aside-content aside {
  margin-right: 4.2rem;
  width: 24rem;
}

.aside-content aside .menu a {
  text-decoration: none;
}

.aside-content aside .menu ul {
  background: #f2f2f2;
  padding: 1.6rem 2.5rem .7rem;
}

.aside-content aside .menu ul li {
  margin-bottom: .7rem;
}

.aside-content aside .menu ul ul {
  margin-top: .7rem;
  padding-top: 0;
  padding-bottom: 0;
}

.aside-content aside .subscribe {
  margin-top: 2.2rem;
  position: relative;
  padding-top: 15px;
}

.aside-content aside .subscribe:before {
  border-top: 2px solid;
  top: 0;
  width: 24px;
}

.aside-content aside .subscribe form {
  padding-top: 1rem;
}

.aside-content aside .subscribe input {
  border: none;
  float: left;
  vertical-align: top;
  height: 4rem;
}

.aside-content aside .subscribe input.form-control {
  font-size: 12px;
  font-size: 1.2rem;
  background-color: #f2f2f2;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: calc(100% - 5.6rem);
}

.aside-content aside .subscribe input.submit {
  width: 5.6rem;
}

.aside-content aside .lastnews {
  margin-top: 3.2rem;
}

.aside-content .content {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.aside-content .title {
  padding-bottom: 2rem;
}

/* =/aside-content
---------------------------*/
/* =partners
---------------------------*/
.partners {
  background-color: #f2f2f2;
  margin-top: 1.2rem;
  padding: 2rem 0;
}

/* =partners
---------------------------*/
.contacts {
  margin-top: 1.2rem;
}

::-ms-clear {
  display: none;
}
