/*---------------------------------------------------
    SCSS Elements 0.1
  ---------------------------------------------------
    A set of useful SCSS mixins
  ---------------------------------------------------*/
/*
.columns(@colwidth: 250px, @colcount: 0, @colgap: 50px, @columnRuleColor: #EEE, @columnRuleStyle: solid, @columnRuleWidth: 1px) {
  -moz-column-width: @colwidth;
  -moz-column-count: @colcount;
  -moz-column-gap: @colgap;
  -moz-column-rule-color: @columnRuleColor;
  -moz-column-rule-style: @columnRuleStyle;
  -moz-column-rule-width: @columnRuleWidth;
  -webkit-column-width: @colwidth;
  -webkit-column-count: @colcount;
  -webkit-column-gap: @colgap;
  -webkit-column-rule-color: @columnRuleColor;
  -webkit-column-rule-style: @columnRuleStyle;
  -webkit-column-rule-width: @columnRuleWidth;
  column-width: @colwidth;
  column-count: @colcount;
  column-gap: @colgap;
  column-rule-color: @columnRuleColor;
  column-rule-style: @columnRuleStyle;
  column-rule-width: @columnRuleWidth;
}

*/
.container {
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 767px) {
  .container,
  .outer-container,
  .container-md {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 768px) {
  .outer-container,
  .container,
  .container-md {
    width: 730px;
  }
}

@media (min-width: 992px) {
  .outer-container,
  .container {
    width: 940px;
  }
  .container-md {
    width: 750px;
  }
}

@media (min-width: 1150px) {
  .outer-container {
    width: 1100px;
  }
  .container {
    width: 1050px;
  }
  .container-md {
    width: 900px;
  }
}

@media (min-width: 1250px) {
  .container {
    width: 1170px;
  }
}

/*** reset ***********/
html, body, ul, ol, li, dl, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, a, img, label {
  margin: 0;
  padding: 0;
  border: 0;
}

header, section, footer, aside, nav, article {
  display: block;
}

ul {
  list-style: none;
}

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%;
}

body {
  font-size: 14px;
  font-size: 1.4rem;
  color: #000;
}

html, body {
  height: 100%;
}

*:focus {
  outline: none;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

@supports (display: grid) {
  .grid-container {
    display: grid;
    grid-template-areas: "top" "header" "nav" "main" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 40px min-content min-content auto 65px;
    min-height: 100%;
  }
}

.top {
  grid-area: top;
}

header {
  grid-area: header;
}

nav {
  grid-area: nav;
}

.main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

/*** standart classes *****/
p {
  line-height: 16px;
}

a {
  color: #020000;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.6rem;
}

*:focus {
  outline: none;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

@font-face {}.tdn {
  text-decoration: none;
}

.tdn:hover {
  text-decoration: underline;
}

.tdu {
  text-decoration: underline;
}

.tdu:hover {
  text-decoration: none;
}

.before {
  content: "";
  display: block;
  position: absolute;
}

.form-control {
  border: 1px solid #f4f4f4;
  border-radius: 0;
  margin-top: 0.6rem;
  font-size: 16px;
}

.form-control:focus, .form-control:active {
  border-color: #666;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(222, 72, 111, 0.3);
}

/* =header
---------------------------*/
/* =/header
---------------------------*/
/* =navigation
---------------------------*/
/* =/navigation
---------------------------*/
.owl-carousel .owl-controls {
  position: absolute;
  width: 100%;
  top: 115px;
}

.owl-carousel .owl-controls .owl-buttons .owl-prev,
.owl-carousel .owl-controls .owl-buttons .owl-next {
  background: url(../images/prevnext.png) no-repeat left top;
  width: 65px;
  height: 65px;
  position: absolute;
}

.owl-carousel .owl-controls .owl-buttons .owl-prev {
  left: -110px;
}

.owl-carousel .owl-controls .owl-buttons .owl-next {
  background-image: url(../images/sprite.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  right: -110px;
}

/* =main
---------------------------*/
/* =footer
---------------------------*/
footer {
  background-color: #000;
  color: #fff;
}

::-ms-clear {
  display: none;
}
