


#foo1{
	.slide{
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		height: 700px;
		.bg{
			position: absolute;
			left: 0;
			top: 0;
			z-index: -1;
			width: 100%;
		}
		
		.container{
			display: flex;
			height: 100%;
			.inner{
				@include flexbox;
				// @include font-size(2.2);
				@include justify-content(center);
				flex-direction: column;
				height: 100%;
			}
		}

		&-title{
			@include font-size(3.6);
			color: $color2;
			text-transform: uppercase;
			// padding-top: 12rem;
		}

		&-subtitle{
			@include align-items(center);
			@include flexbox;
			@include font-size(2.2);
			@include justify-content(center);
			background-color: $color5;
			color: $color2;
			height: 40px;
			margin-top: 1.2rem;
			text-align: center;
		}

		.inner{
			width: 455px;
			margin-left: 9px;
		}

		.box{
			border: 1px solid #9fb5be;
			background-color: rgba(255, 255, 255, .5);
			margin-top: 1.5rem;
			padding: 2.5rem 1.5rem 3rem;
			@include flexbox;

			.description{
				padding-left: 2.5rem;
				h3{
					@include font-size(1.8);
					color: $color5;
					margin-bottom: 1.7rem;
					position: relative;
					text-transform: uppercase;
					&:after{
						@extend .before;
						border-bottom: 1px solid $color1;
						padding-bottom: 1rem;
						width: 112px;						
					}
				}
				p{
					@extend .italic;
					line-height: 1.3;
				}
			}
		}

		.price{
			@include font-size(5);
			color: $color2;
			margin-top: 2rem;
			position: relative;
			padding-left: 45px;
			&:before{
				@extend .before;
				background: rgba(255, 255, 255, .5) url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAANCAQAAAA+y+ezAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfhBBISIQ3z0EUTAAAAPklEQVQI11WPMRIAMAjCIv//Mx1aq7gROQ7KYIp/woA3uF8PIJEgkZ7zo1p54eiMUsp2eHKUspsy5W/TteUAvs0PFn0ybLQAAAAASUVORK5CYII=") no-repeat center center;
				border-radius: 50%;
				height: 31px;
				left: 0;
				top: 15px;
				width: 31px;
			}
		}

		.more{
			margin-left: 1.6rem;
			margin-top: 1rem;
		}
	}

	.owl-dots{
		bottom: 17px;
		position: absolute;
		text-align: center;
		width: 100%;
		.owl-dot{
			background-color: $color2;
			border-radius: 50%;
			border: 4px solid $color5;
			display: inline-block;
			height: 22px;
			margin-left: 5px;
			margin-right: 5px;
			opacity: .5;
			width: 22px;
			&.active{
				opacity: 1;
				background-color: $color5;
				border-color: $color2;
			}
		}
	}
}


#foo2{
	border-top: 8px solid $color4;
}

#foo2,
#foo3,
.result-search
{
	.item{
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 2.5rem;
		text-decoration: none;
		width: 90%;

		img{
			width: 100%;
		}
	}
	h4,
	.category{
		padding-left: .8rem;
	}
	.category{
	}
	
	.head{
		padding-top: .8rem;
		a{
			@extend .tdu;
		}
		.category{
			@extend .italic;
			color: $color7;
			a{
				color: currentColor;
			}
		}
	}


	.pic{
		display: block;
		overflow: hidden;
		border-left: 1px solid $color4;
		border-top: 1px solid $color4;
		border-right: 1px solid $color4;
		margin-top: .5rem;
		&:hover{
			img{
				transform: scale(1.1);
			}
		}
	}
	img{
		@include transition-param(transform);
		vertical-align: top;
	}

	.bottom{
		@include flexbox;
		@include justify-content(space-between);
		background-color: $color4;

		.price{
			@include font-size(1.8);
			@include flexbox;
			@include align-items(center);
			text-decoration: none;
			height: 4rem;
			padding-left: 1.5rem;
			strong{
				margin-right: .3rem;
			}
		}
		.to-cart{
			background-color: $color1;
			position: relative;
			width: 56px;
			@include transition-param(background-color);
			&:before{
				@extend .before;
				@include sprite(-61px, 0);
				left: 17px;
				height: 21px;				
				top: 9px;
				width: 24px;
			}
			&:hover{
				background-color: $color3;
			}
		}
	}
}


.owl_pagination2,
.owl_pagination3
{
	text-align: right;
	position: relative;
	z-index: 1;
	.owl_pagination_container{
		padding: 0 56px;
		display: inline-block;
		position: relative;
		text-align: center;
	}
	.owl-dots {
		counter-reset: dots;
		text-align: right;
		margin-right: 1rem;
	}
	.owl-dot{
		display: inline-block;
		position: relative;
		width: 14px;
		&:before {
			color: $color7;
			content: counter(dots);
			counter-increment:dots;
			left: 0;
			position: absolute;
			text-align: center;
			text-decoration: underline;
			top: 11px;
			width: 100%;
			cursor: pointer;
		}

		&.active:before{
			color: $color5;
		}
		&:hover{
			&:before{
				color: $color1;
				text-decoration: none;				
			}
		}
	}

	.owl-nav{
		left: 0;
		position: absolute;
		text-align: center;
		top: 0;
		width: 100%;

		.owl-prev,
		.owl-next{
			background-color: $color10;
			border-radius: 50%;
			cursor: pointer;
			height: 31px;
			position: absolute;
			top: 16px;
			width: 31px;
			@include transition-param(background-color);
			&:hover{
				background-color: #e88383;
			}
			&:before{
				@extend .before;
				height: 13px;
				width: 8px;
				left: 10px;
				top: 9px;
				background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAANCAQAAAA+y+ezAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfhBBIVODrVIl+BAAAAOklEQVQI132OMRIAIAzCAv//cx3UWhY7kRy9Q8W4QqqJgBORE2+jcYuB4ETwifUEqTweYkerz9Ld0gJa8Q8VOp8xugAAAABJRU5ErkJggg==") no-repeat ;
			}
			&.disabled{
				background-color: $color10;
			}
		}

		.owl-next{
			right: 15px;
			@include rotation(180deg);
		}
	}
}



/* =assortment
---------------------------*/
.assortment{
	background: $color4;
	padding: 2rem 0 2.4rem;
	h1{
		@extend .bottomline;
	}

	.cats{
		margin-right: 2.5rem;
		.row{
			@include flexbox;
			a{
				display: inline-block;
				margin-left: 1.2rem;
				-webkit-filter: grayscale(1) opacity(.8);
				filter: grayscale(1) opacity(.8);
				@include transition;
				&:first-child{
					margin-left: .8rem;
				}
				&:last-child{
					margin-right: 0;
				}
				&:hover{
					-webkit-filter: grayscale(0) opacity(1);
					filter: grayscale(0) opacity(1);
				}
			}
		}
		.more{
			margin-left: .8rem;
		}
	}

	.text{
		flex-grow: 1;
	}
}
.more{
	@extend .semibold;
	@extend .tdu;
	display: inline-block;
	margin-top: .8rem;
	padding-right: 26px;
	position: relative;
	&:after{
		@extend .before;
		@include sprite(0, -38px);
		height: 6px;
		right: 0;
		top: 7px;
		width: 17px;
	}
	&.more-white{
		color: $color2;
		&:after{
			background-position: -21px -38px
		}
	}
}
/* =/assortment
---------------------------*/



/* =aside-content
---------------------------*/
.aside-content{
	padding-top: 2rem;
	aside{
		margin-right: 4.2rem;
		flex-basis: 24rem;
		flex-shrink: 0;
		.menu{
			.topcat{
				@extend .semibold;
				cursor: pointer;
				padding-bottom: 2rem;
				padding-left: 4rem;
				position: relative;
				margin-top: 3rem;
				&:before{
					@extend .before;
					background-color: $color8;
					border-radius: 0 19px 19px 0;
					color: $color2;
					content: "+";
					height: 19px;
					left: 0;
					text-align: center;
					top: -1px;
					width: 26px;
				}
				&:first-child{
					margin-top: 0;
				}
				&.show{
					&:before{
						background-color: $color1;
						content: "-";
					}
				}
			}
			a{
				color: $color9;
				text-decoration: none;
			}
			&_container{
				background: $color4;
				padding: 1.6rem 0 .7rem;				
			}

			ul{
				padding-left: 4rem;
				padding-right: 2.5rem;
				li{
					margin-bottom: 1.2rem;
				}
				& > li{
					& > a{
						position: relative;
						&:before{
							@extend .before;
							left: -16px;
							top: 4px;
							width: 0;
							height: 0;
							border-top: 4px solid transparent;
							border-left: 5px solid $color7;
							border-bottom: 4px solid transparent;
						}
						&.active{
							@extend .semibold;
							color: $color1;
							&:before{
								border-left: 4px solid transparent;
								border-right: 4px solid transparent;
								border-top: 5px solid $color1;
								border-bottom: none;
								top: 7px;
							}
						}
					}
					ul{
						margin-top: 1rem;
						li{
							margin-bottom: .8rem;
							@extend .italic;
							a{
								&:before{
									display: none;
								}
							}
						}
					}
				}
				ul{
					margin-top: .7rem;
					padding: 0 0 0 8px;
				}

				&.level_0{
					display: none;
					&.show{
						display: block;
					}
				}
			}
		}

		.subscribe{
			margin-top: 2.2rem;
			position: relative;
			padding-top: 15px;
			&:before{
				@extend .before;
				border-top: 2px solid;
				top: 0;
				width: 24px;
			}
			form{
				padding-top: 1rem;
			}
			input{
				border: none;
				float: left;
				vertical-align: top;
				height: 4rem;
				&.form-control{
					@include placeholder($color6, $color4);
					@extend .italic;
					background-color: $color4;
					padding-left: 1.5rem;
					padding-right: 1.5rem;
					width: calc(100% - 5.6rem);
				}
				&.submit{
					background: $color7 url(../images/letter.png) no-repeat center center ;
					width: 5.6rem;
					position: relative;
				}
			}
		}
		.lastnews{
			margin-top: 3.2rem;
		}
	}
	.content{
		flex-grow: 1;
		max-width: 888px;
	}

	.title{
		padding-bottom: 2rem;
	}
}
/* =/aside-content
---------------------------*/
