@media (max-width: 991px){
	header{
		.links-search{
			width: 23rem;
			.links{
				margin-top: -3rem;
				a{
					margin-top: 3rem;
				}
			}
		}
		.right{
			flex-shrink: 0;
		}
	}

	nav ul.mainnav > li > a, 
	nav ul.mainnav > li > span,
	.bottom_menu ul li a{
		padding: 0 2rem;
	}
}


@media (max-width: 767px){
	#navbar,
	.bottom_menu,
	.tel-email{
		display: none;
	}

	.hide-sm{
		display: none;
	}

	.show-sm{
		display: block;
		font-size: 14px;
		padding-left: 8px;
		a{
			font-size: 15px;
			color: $color2;
			display: block;
			margin-left: 1.5rem;
			margin-top: 1.5rem;
			text-decoration: none;
		}
		.links{
			border-top: 1px solid $color2;
			margin-top: 1.5rem;
			a{
				margin: 1.8rem 1.5rem;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}

	.assortment .cats .row{
		flex-wrap: wrap;
	}

	.header{
		padding-bottom: 3rem;
		.links-search{
			.qsearch{
				position: absolute;
				left: 35px;
				top: 100px;
				#search{
					width: 400px;
				}
			}
		}

		.right{
			.little_cart{
				margin-bottom: 3rem;
			}
		}
	}

	.navbar-toggle{
		background-color: $color5;
		border: none;
		cursor: pointer;
		display: block;
		height: 70px;
		left: 0;
		position: absolute;
		text-align: center;
		top: 0;
		width: 70px;
		z-index: 99;
		.icon-bar{
			background-color: $color2;
			display: block;
			height: 2px;
			margin: 8px auto;
			width: 30px;
		}
		&:hover{
			background-color: $color2;
			.icon-bar{
				background-color: $color5;
			}
		}
	}


	.o-menu{
		.header{
		}
		.close-menu{
			display: block;
			transform: translate(0, 0);
		}
		#navbar{
			display: block;
			transform: translate(-15px, 0);
			z-index: 9999;
		}
	}

	.close-menu{
		@include transition;
		display: block;
		transform: translate(-320px, 0);	
		background: none;
		cursor: pointer;
		padding: 0;
		left: 215px;
		background-color: $color5;
		border: none;
		height: 70px;
		position: absolute;
		text-align: center;
		top: 0;
		width: 70px;
		z-index: 99;
		&:hover{
			// background-color: $color2;
		}
	}



	#navbar{
		@include transition;
		background-color: $color5;
		color: $color5;
		display: block;
		left: 0;
		position: absolute;
		top: 0;
		padding-top: 15px;
		transform: translate(-305px, 0);
		width: 230px;
		.container{
			padding: 0;
		}
		ul.mainnav{
			background: none;
			display: block;
			font-size: 15px;
			margin-top: 0;
			padding-left: 15px;
			& > li.folder > a{
				&:after{
					top: 22px !important;
				}
			}
			& > li.active > a{
				text-decoration: underline;				
			}
			li{
				border-bottom: 1px solid #fff;
				a, span{
					color: $color2;
					display: block;
					height: auto;
					line-height: normal;
					padding: 18px 0 18px 10px;
					text-transform: none;
					text-decoration: none;
					&:hover{
						color: #fff;
						text-decoration: underline;
					}
				}
				&.active,
				&:hover{
					a, span{
						background: none;
					}
					border-bottom: 1px solid #fff;
					color: #fff;
				}

				&.folder{
					& > a{
						position: relative;
						&:after{
							background: url(../images/arrow.png) no-repeat left bottom;
							content: "";
							display: block;
							height: 12px;
							position: absolute;
							right: 10px;
							top: 9px;
							width: 8px;
						}
					}
					ul.show{
						display: block;
					}
					&.open > a{
						&:after{
							background-position: left top;
							width: 12px;
							height: 8px;
						}						
					}
				}

				&.active{
					a, span{
						// text-decoration: underline;
					}
					a{
						&:hover{
							color : #fff;
						}						
					}

					& > ul{
						display: block;
						.active .active a{
							font-weight: bold;
							text-decoration: underline;
						}
					}
				}

				ul{
					display: none;
					font-size: 12px;
					li{
						border-bottom: none;
						padding-left: 7px;
						a, span{
							padding: 7px 0 7px 10px;

						}
						&.active,
						&:hover{
							border-bottom: none;
							color: $color5;
						}
					}
				}

				&#nav4,
				&#nav5{
					> a{
						&:after{
							background: none;
						}
					}
				}
			}
		}
	}

}



@media (max-width: 690px){
	.header{
		padding-bottom: 2rem;
		.flexbox{
			display: block;
			.logo{
				padding-left: 0;
				text-align: center;
				.tel-email{
					margin-left: 0;
					text-align: center;
					width: auto;
				}
			}
		}
		.links-search{
			// margin-top: 2rem;
			text-align: center;
			width: 100%;
			.qsearch{
				padding-top: 0;
				margin-top: 0;
				position: static;
				form{
					fieldset{
						text-align: center;						
					}

					input{
						float: none;
						display: inline-block;
					}
				}
				#search{
					width: 300px;
				}
			}
		}
		.right{
			margin-left: auto;
			margin-right: auto;
			width: 200px;
			.little_cart{
				margin: 1.5rem 0;
			}
			.link-feedback{
				text-align: center;
				padding-left: 0;
			}
		}
	}
}



@media (max-width: 550px){
	.top{
		text-align: center;
	}
}


@media (max-width: 400px){
	.populars{
		text-align: center;
		.flexbox{
			display: block;
		}
	}

	.header .links-search{
		// padding-top: 0;
		.qsearch{
			// margin-top: 0;
			#search{
				width: calc(100% - 60px);
			}
		}
		.links{
			display: none;
		}
	}

	footer{
		.flexbox{
			display: block;
			text-align: center;
			.left{
				margin-bottom: 2rem;
			}
			.right{
				text-align: center;
			}
		}
	}

	main{
		text-align: justify;
	}
}