@media (max-width: 1550px){
	#foo1 .slide{
		height: 600px;
	}
}


@media (max-width: 1330px){
	#foo1 .slide{
		height: 500px;
	}	
}


@media (max-width: 1249px){
	.aside-content .content{
		width: 768px;
	}
}


@media (max-width: 1149px){
	#foo1 .slide{
		height: 400px;
	}
	.aside-content .content{
		width: 658px;
	}

	#foo1{
		.slide-title{
			font-size: 30px;
		}
		.slide-subtitle{
			font-size: 18px;
			margin-top: 1rem;
			height: 3.5rem;
		}

		.slide{
			.price{
				margin-top: 1rem;
				font-size: 30px;
				&:before{
					top: 5px;
				}
			}
			.box{
				padding-top: 1rem;
				padding-bottom: 1rem;
			}
		}
	}

	.assortment .cats .row a:nth-child(6){
		display: none;
	}
}


@media (max-width: 991px){
	.assortment{
		.flexbox{
			display: block;
		}
		.cats{
			margin-right: 0;
			.row{
				@include justify-content(center);
				a:last-child{
					display: block;
				}
			}
		}

		.text{
			margin-top: 2rem;
			margin-left: 1rem;
		}
	}

	.aside-content .content{
		width: 448px;
	}

	.partners .flexbox{
		flex-wrap: wrap;
		a{
			margin-bottom: 1rem;
		}
	}

	.contacts{
		.flexbox{
			display: block;
		}
		.map{
			width: 100%;
		}

		.text{
			margin-left: 0;
			margin-top: 2rem;
		}
	}
}


@media (max-width: 920px){
	#foo1 .slide{
		height: 300px;
		.box{
			display: none;
		}
	}	
}


@media (max-width: 768px){
	.aside-content{
		aside{
			display: none;
		}
	}
}



@media (max-width: 675px){
	#foo1 .slide{
		height: auto;
		min-height: 200px;
	}
}


@media (max-width: 600px){
	.header{
		// display: none;
	}

	.aside-content .content{
		width: 100%;
	}
	.populars .flexbox{
		flex-wrap: wrap;
		.cell{
			flex-basis: 50%;
		}
	}
}




@media (max-width: 480px){
	#foo1{
		.owl-dots{
			display: none;
		}
	}
	#foo1 .slide-title{
		padding-top: 20px;
	}

	.owl_pagination2,
	.owl_pagination3{
		text-align: center;
	}

	.aside-content{
		padding-bottom: 5rem;
	}

	.assortment,
	.aside-content,
	.partners,
	.contacts,
	main{
		h1,
		.title{
			text-align: center;
			&:after{
				left: 50%;
				margin-left: -12px;
			}
		}
	}
}


@media (max-width: 450px){
	#foo1 .slide{
		min-height: 0;
		padding-bottom: 1rem;
	}
}


@media (max-width: 420px){
	#foo1{
		display: none;
	}
}
